<footer class="site-footer">
   <div class="container footer-grid">
      <div>
         <h4>FixHaus</h4>
         <p> Professional home repair & mintenance services.</p>
      </div>

      <div>
         <h4>Services</h4>
         <ul>
            <li>Plumbing</li>
            <li>Electrical</li>
            <li>Painting</li>
            <li>Renovation</li>
            <li>Emergency Service</li>
         </ul>
      </div>
   
      <div>
        <h4>Contact Us</h4>
        <p>Tel: +49 175 655 2797</p>
        <p>info@fixhaus.de</p>
      </div>
   </div>
</footer>
